@media (max-width: 1200px) {
    .aprender {
        text-align: center;
        margin-bottom: 40px;
    }

    main {
        flex-direction: column;
    }

    .btn-free, form {
        width: 100%;
        max-width: 500px;
    }

    input, .btn-submit {
        width: 100%;
    }
}

@media (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }

    main {
        padding: 20px;
        flex-direction: column;
        width: 100%;
    }

    .aprender {
        width: 90%;
        margin: 3rem auto 1rem;
    }

    h1{
        text-align: center;
        font-size: 42px;
    }

    .p2 {
        text-align: center;
        font-size: 14px;
    }

    #formulario {
        width: 90%;
        margin: 0 auto;
    }

    input, .btn-free, .btn-submit {
        width: 100%;
    }
}

@media (max-width: 375px) {
    form {
        padding: 20px;
        gap: 50px;
        border: 1px solid red;
    }

    input {
        width: 100%;
    }

    h1 {
        font-size: 42px;
    }

    .btn-submit{
        width: 100%;
    }
}